<ion-header>

  <ion-navbar>

    <ion-title class="text-center"> sub service</ion-title>





    <button class="menuButton" end ion-button clear menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <button [ngClass]="language === 'en' ?'left':'right'" (click)="back()" class="backButton" ion-button clear>
      <ion-icon  *ngIf="language == 'ar'"  ios="ios-arrow-back" md="md-arrow-back">

      </ion-icon>


      <ion-icon   *ngIf="language == 'en'" ios="ios-arrow-back" md="md-arrow-back">

        </ion-icon>

    </button> -->

  </ion-navbar>

</ion-header>



<ion-content>

  <!-- [ngClass]="language === 'en' ?'iconEn':'iconAr'" -->

  <div (click)="openOrder()" class="service-item animated fadeInDown">

    <img class="img-service" src="assets/icon/avatar.jpg" alt="sub service-item">

    <h4>Sub Service 1 test</h4>

  </div>


  <div (click)="openOrder()" class="service-item animated fadeInDown">

    <img class="img-service" src="assets/icon/avatar.jpg" alt="sub service-item">

    <h4>Sub Service 1 test</h4>

  </div>



</ion-content>
