* {
  font-family: hakam-bold;
}

/**************************************************** Variables ******************************************************/
/**************************************************** Inheritance ****************************************************/
/**************************************************** shared css rules **********************************************/
ion-navbar.toolbar {
  direction: ltr;
}

.toolbar-background {
  border-color: transparent;
  background: transparent;
}

.logo {
  text-align: center;
  margin-top: 70px;
}

.logo img {
  width: 180px;
  height: 180px;
  margin: -40px 0 5%;
}

@media only screen and (min-width: 480px) {
  .logo img {
    width: 200px;
    height: 200px;
    margin: -40px 0 5%;
  }
}

@media only screen and (min-width: 768px) {
  .logo img {
    width: 230px;
    height: 230px;
    margin: -40px 0 3%;
  }
}

@media only screen and (min-width: 992px) {
  .logo img {
    width: 230px;
    height: 230px;
    margin: -40px 0 3%;
  }
}

.back-button-icon {
  color: #ffffff;
}

.back-button.show-back-button {
  margin: 0;
  padding: 0;
}

.backButton {
  margin-left: 0;
  padding-left: 10px;
  color: #ddd;
  font-size: 20px;
  float: left;
  height: auto;
  margin-top: 0px;
}

.toolbar-background {
  background: #17a2b8;
}

.toolbar-title {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding-bottom: 2px !important;
  margin-top: 7px;
}

.title {
  font-size: 18px;
  letter-spacing: 1.1px;
  margin-top: 3px;
  display: block;
}

.picker .picker-opts {
  max-width: 50px !important;
}

.gm-style .gm-style-iw {
  font-size: 14px;
  color: #17a2b8;
  font-weight: 500;
  line-height: 25px;
}

.action-sheet-wrapper {
  max-width: 100%;
}

.action-sheet .action-sheet-button {
  width: 50%;
  border-left: 1px solid;
  font-size: 14px;
}

.action-sheet .action-sheet-button:last-child {
  border-left: none;
}

.action-sheet .button-inner {
  text-align: center;
  display: block;
}

.action-sheet .action-sheet-icon {
  margin: 0 5px 0 10px;
  color: #36618b;
}

.picker-opt {
  width: 115%;
  direction: ltr;
}

.menuContent {
  color: #ffffff;
}

.menuContent ion-toolbar {
  background-color: #17a2b8;
}

.menuContent div.toolbar-content.toolbar-content-wp {
  height: 100%;
  background-color: #17a2b8;
  padding: 10px;
}

.menuContent div.toolbar-content.toolbar-content-ios {
  height: 100%;
  background-color: #17a2b8;
  padding: 10px;
}

.menuContent .headermenu {
  background-color: #17a2b8;
  height: 24%;
  padding: 0 10px;
}

.menuContent .headermenu img {
  text-align: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 2px solid #ffffff;
}

.menuContent .headermenu span {
  display: inline-block;
  margin: 10px 0px 0 0;
  padding: 5px 10px;
}

.menuContent .headermenu p {
  display: inline-block;
  margin: 0px 5px 0 0;
  padding: 5px 10px;
  font-size: 12px;
}

.menuContent .list {
  margin-top: 10px;
}

.menuContent .list .item .icon {
  font-size: 1.3em;
  margin: 0 !important;
}

.menuContent .item {
  color: #17a2b8;
  background: #ffffff;
  padding-left: 0;
  font-size: 14px;
}

.menuContent .item .item-inner {
  border-bottom: 0px solid #dedede;
}

.menuContent .item ion-icon {
  display: inline-block;
  font-size: 20px;
}

.menuFooter {
  border-top: 1px solid #a8c5d8;
  height: 75px;
}

.menuFooter .button-clear-md {
  color: #a4c2d6;
  margin-top: 20px;
}

.netOffInfo {
  position: absolute;
  background: #ca2222;
  width: 100%;
  z-index: 99999;
}

.netparagrap {
  text-align: center;
  margin: 7px 0 !important;
  padding-top: 5px;
  font-size: 14px;
  color: #ffffff;
}

.label {
  margin: 13px 8px;
}

.menuContent .scroll-content {
  overflow-y: hidden;
}

.mainheader .header {
  padding: 10px 0;
}

.button-md {
  text-transform: capitalize;
}

.validationHint {
  color: #ca2222;
  margin-left: 20px;
  margin-bottom: 0;
  font-size: 15px;
  position: absolute;
  background: #fff6d3;
  margin: -11px 15px;
  padding: 0 10px;
  padding-bottom: 10p;
  z-index: 99;
  font-size: 14px;
}

.item-ios,
.item-md {
  background: transparent !important;
}

.gender-list {
  margin-top: 30px;
}

.list-ios > .item-block:first-child,
.list-md > .item-block:first-child {
  border-top: 0 !important;
}

.app-btn {
  background: #17a2b8 !important;
  margin-top: 30px;
}

form .input-wrapper {
  border-bottom: 0 !important;
}

form .icon {
  margin-right: 7px !important;
  margin-top: 3px !important;
  color: #17a2b8;
}

form .label[floating] {
  margin-left: 0 !important;
}

form .item-input ion-input {
  border: 0 !important;
  border-bottom: 1px solid #17a2b8 !important;
  margin-top: -10px !important;
}

.list-md .validationHint {
  position: absolute;
  background: #fff6d3;
  margin: 5px auto;
  padding: 0 15px;
  z-index: 99;
  line-height: 35px;
  width: 91%;
  font-size: 12px;
  box-shadow: -2px -2px 0px 0px #e2dab7 inset;
}

.list-md .validationHint p {
  margin: 0;
}

.list-md .item-md {
  padding-left: 0;
  background-color: transparent;
  font-size: 14px;
}

.list-md .item-md.item-block .item-inner {
  padding-right: 0;
  border-bottom: none;
}

.list-md .label[floating] {
  margin-left: 7px;
}

.list-md .iconAr {
  border-left: 2px solid #dedede;
  color: #17a2b8;
  font-weight: 700;
  margin: 0 5px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.list-md .iconEn {
  border-right: 2px solid #dedede;
  color: #17a2b8;
  font-weight: 700;
  margin: 0 5px;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.list-md .input-has-focus .label-md[floating],
.list-md .input-has-value .label-md[floating] {
  -webkit-transform: translate3d(0, -9px, 0) scale(1);
  -moz-transform: translate3d(0, -9px, 0) scale(1);
  -ms-transform: translate3d(0, -9px, 0) scale(1);
  transform: translate3d(0, -9px, 0) scale(1);
}

.list-md .item-input ion-input {
  height: 45px;
  border: 1px solid;
  margin-top: -10px;
  padding: 0 15px;
}

.list-md .item-input:last-child {
  border-bottom: 0;
}

.dropmenu {
  border-bottom: 1px solid #17a2b8;
}

.alert-md [aria-checked=true] .alert-radio-label,
.alert-ios [aria-checked=true] .alert-radio-label {
  color: #17a2b8;
}

.alert-md [aria-checked=true] .alert-radio-icon,
.alert-ios [aria-checked=true] .alert-radio-icon {
  border-color: #17a2b8;
}

.alert-md .alert-radio-inner {
  background: #17a2b8;
}

.alert-md .alert-button,
.alert-ios .alert-button {
  color: #17a2b8;
}

.bar-button-menutoggle-md[end],
.bar-button-menutoggle-md[right],
.bar-button-menutoggle-ios[end],
.bar-button-menutoggle-ios[right] {
  display: inline-block;
  float: left;
  color: #dedede;
}

.toolbar-title {
  display: inline-block;
}

.alert-ios [aria-checked=true] .alert-radio-inner,
.alert-md [aria-checked=true] .alert-radio-inner {
  border-color: #17a2b8;
}

form .label[floating] {
  font-size: 16px !important;
}

.item-inner .label .icon {
  color: #17a2b8;
  margin-left: 15px;
}

.cart-empty {
  margin: 24% auto;
}

@media only screen and (min-width: 480px) {
  .cart-empty {
    margin: 28% auto;
  }
}

@media only screen and (min-width: 768px) {
  .cart-empty {
    margin: 33% auto;
  }
  .cart-empty .cart-icon {
    width: 220px !important;
  }
}

@media only screen and (min-width: 992px) {
  .cart-empty {
    margin: 5% auto;
  }
  .cart-empty .cart-icon {
    width: 250px !important;
  }
}

.cart-empty .cart-icon {
  width: 170px;
  font-size: 200px;
  float: none !important;
}

.cart-empty .cart-title {
  font-weight: 500;
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 32px;
  text-align: center;
  margin-left: 4%;
}

.list-ios > .item-block:last-child,
.list-ios > .item-wrapper:last-child .item-block .list-md > .item-block:last-child,
.list-md > .item-wrapper:last-child .item-block {
  border-bottom: 0;
}

.logo {
  margin-top: 30px !important;
}

.toolbar-content {
  height: 45px !important;
}

.bar-button-menutoggle-md[end],
.bar-button-menutoggle-md[right],
.bar-button-menutoggle-ios[end],
.bar-button-menutoggle-ios[right] {
  font-size: 1.3em;
  float: none !important;
}

.headermenu .toolbar-content {
  height: 120px !important;
}

.toolbar-title {
  display: block !important;
  overflow: inherit !important;
}

.text-sm {
  font-size: 20px !important;
  padding-left: 5px !important;
}

.menuContent .label {
  font-size: 20px !important;
}

.backButton {
  z-index: 999999999;
  /* margin-top: 8px; */
  float: right;
  position: absolute;
  right: 0;
  top: 12px;
}

.circul {
  width: 40px !important;
  height: 40px !important;
  min-height: 50% !important;
  padding: 0 !important;
  line-height: 40px;
  border-radius: 100% !important;
  margin-right: 3px !important;
}

.circul .icon {
  font-size: 21px !important;
  padding-bottom: 0 !important;
}

.options {
  padding-top: 20px !important;
}

.menuContent .scroll-content {
  overflow: scroll;
}

.custom-menubtn {
  background: #17a2b8 !important;
}

.custom-menubtn .icon {
  font-size: 1.4em;
}

.hideMenuBtn {
  -webkit-transform: rotate(120deg) translateY(-5%);
  -moz-transform: rotate(120deg) translateY(-5%);
  -o-transform: rotate(120deg) translateY(-1%);
  -ms-transform: rotate(120deg) translateY(-1%);
  transform: rotate(120deg) translateY(-1%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.showMenuBtn {
  -webkit-transform: rotate(0deg) translateY(1%);
  -moz-transform: rotate(0deg) translateY(1%);
  -o-transform: rotate(0deg) translateY(1%);
  -ms-transform: rotate(0deg) translateY(1%);
  transform: rotate(0deg) translateY(1%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.custom-menubtn,
#card {
  position: absolute !important;
  z-index: 10000 !important;
  bottom: 24px !important;
  right: 20px !important;
  width: 55px !important;
  min-height: 55px !important;
  border-radius: 100% !important;
}

#Re-issue {
  bottom: 100px !important;
  right: 23px !important;
  width: 50px !important;
  min-height: 50px !important;
  width: 50px !important;
  background: #2ec95c !important;
}

#Renwal {
  bottom: 226px !important;
  right: 30px !important;
  width: 37px !important;
  min-height: 37px !important;
  width: 37px !important;
  background: #498cb8 !important;
}

#Service {
  bottom: 168px !important;
  right: 28px !important;
  width: 40px !important;
  min-height: 40px !important;
  width: 40px !important;
  background: #424242 !important;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(71, 68, 68, 0.7);
  z-index: 10000000000000000;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 5s ease-in-out;
}

#overlay .icon {
  font-size: 1.4em;
}

.hidden {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 5s ease-in-out;
  display: none;
}

.card-span {
  display: inline-block;
  float: right;
  right: 83px;
  width: max-content;
  width: auto !important;
  background: #c2b057;
  border-radius: 0 !important;
  height: auto !important;
  min-height: auto !important;
  bottom: 42px;
  padding: 0px 5px;
  position: absolute !important;
  z-index: 10000 !important;
}

.Renwal {
  right: 81px;
  bottom: 116px;
}

.normalCard {
  right: 75px;
  bottom: 242px;
}

.Service {
  right: 77px;
  bottom: 184px;
}

.item-ios p,
.item-md p {
  font-size: 1.6rem;
}

.list-ios .item-block .item-inner,
.list-md .item-block .item-inner {
  border-bottom: 0.55px solid #c8c7cc !important;
}

.list-ios > .item-block:last-child,
.list-ios > .item-wrapper:last-child .item-block,
.list-md > .item-block:last-child,
.list-md > .item-wrapper:last-child .item-block {
  border-bottom: 0 !important;
}

.item-wrapper {
  padding-right: 14px;
  padding-left: 14px;
}

.header {
  display: -webkit-box !important;
}

.radio-md .radio-checked {
  border-color: #292e82;
}

.radio-md .radio-inner {
  background-color: #292e82;
}

* {
  -webkit-box-sizing: border-box !important;
}

.alert-md [aria-checked=true] .alert-checkbox-icon,
.alert-ios [aria-checked=true] .alert-checkbox-icon {
  border-color: #862840 !important;
  background-color: #862840 !important;
}

.toolbar .searchbar-ios .searchbar-input,
.toolbar .searchbar-md .searchbar-input {
  background: #fff;
}

select-searchable-page ion-navbar.toolbar {
  display: none !important;
}

select-searchable-page .button-ios,
select-searchable-page .button-md {
  background-color: #862840 !important;
  border: none;
  outline: 0;
  box-shadow: none;
}

.select-searchable-group {
  padding-left: 15px;
}

.searchbar-md-cancel .button {
  display: inline-block;
}

.searchbar-ios .searchbar-clear-icon,
.searchbar-md .searchbar-clear-icon {
  right: 0;
  top: 0;
  border: 1px solid #ddd;
  color: #fff;
}

.searchbar-ios .searchbar-md-cancel,
.searchbar-md .searchbar-md-cancel {
  position: absolute;
  background: none;
  outline: none;
  border: none;
  background: transparent;
  z-index: 10000000;
}

.toast-message {
  white-space: pre;
}

.picker-col {
  width: 60px !important;
}

.picker-md .picker-col {
  padding: 0;
}

.searchbar-md .searchbar-ios-cancel {
  color: #fff;
  margin-bottom: 4px;
  display: block !important;
}

.toolbar .searchbar-ios .searchbar-input,
.toolbar .searchbar-md .searchbar-input {
  margin-bottom: 8px;
}

.app-btn-color {
  background-color: #17a2b8 !important;
}

ion-footer {
  bottom: unset !important;
}

.img-details {
  max-height: 100vh !important;
  min-width: 100%;
}

.menuContent .list .item .icon {
  margin-right: 15px;
}

.item-label-stacked .select-md,
.item-label-floating .select-md,
.item-label-stacked .select-ios,
.item-label-floating .select-ios {
  border-bottom: 1px solid #17a2b8;
}

.userPhoto ion-label {
  border-bottom: 2px solid #ddd;
  font-size: 14px;
  color: #000219 !important;
  margin: 0px 8px 2px 0;
  font-size: 20px !important;
  font-weight: bolder;
  margin-bottom: 20px;
}

.back-button.show-back-button {
  display: none !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.list-unstyled {
  list-style: none;
}

.right {
  right: 0 !important;
}

.left {
  left: 0 !important;
}
