<ion-content padding class="signup-form" overflow-scroll="false">

  <ion-navbar></ion-navbar>

  <div class="logo animated fadeInDown">
    <img src="./../assets/imgs/logo.1.png" alt="shuryan-logo">
  </div>
  <form>

    <ion-list>



      <!-- Email field -->
      <ion-item class="item1 animated fadeInDown">
        <ion-label floating>
          <ion-icon name="ios-mail"></ion-icon>
          email
        </ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <!-- <p class="validationHint" *ngIf="hasError('email', 'required')">{{ 'require' | translate }}</p>
          <p class="validationHint" *ngIf="hasError('email', 'email')">{{ 'minLenght8' | translate }}</p> -->



      <!-- fullName field -->
      <ion-item class="item1 animated fadeInDown">
        <ion-label floating>
          <ion-icon name="ios-contact"></ion-icon>
          userName
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <!-- <p class="validationHint" *ngIf="hasError('username', 'required')">{{ 'require' | translate }}</p>
          <p class="validationHint" *ngIf="hasError('username', 'minlength')">{{ 'minLenght8' | translate }}</p>
          <p class="validationHint" *ngIf="hasError('username', 'maxlength')">{{ 'maxLenght' | translate }}</p> -->
      <!-- mobNo. field -->
      <ion-item class="item2 animated fadeInDown">
        <ion-label floating>
          <ion-icon name="ios-phone-portrait-outline"></ion-icon>
          phoneOrEmail
        </ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
      <!-- <p class="validationHint" *ngIf="hasError('phonenumber', 'required')">{{ 'require' | translate }}</p>
          <p class="validationHint" *ngIf="hasError('phonenumber', 'pattern')">أدخل رقم موبايل صحيح</p>
          <p class="validationHint" *ngIf="hasError('phonenumber', 'minlength')">{{ 'minLenght11' | translate }}</p> -->


      <!-- address. field -->
      <ion-item class="item2 animated fadeInDown">
        <ion-label floating>
          <ion-icon name="ios-navigate"></ion-icon>
          address
        </ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
      <!-- <p class="validationHint" *ngIf="hasError('address', 'required')">{{ 'require' | translate }}</p>

                  <p class="validationHint" *ngIf="hasError('address', 'maxLenght')">{{ 'maxLenght' | translate }}</p> -->


      <!-- Key. field -->
      <ion-item class="item2 animated fadeInDown">
        <ion-label floating>
          <ion-icon name="ios-key"></ion-icon>
          Key
        </ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
      <!-- <p class="validationHint" *ngIf="hasError('Key', 'required')">{{ 'require' | translate }}</p> -->



      <!-- password field -->
      <ion-item class="item3 animated fadeInDown">
        <ion-label floating>
          <ion-icon name="ios-lock-outline"></ion-icon>
          Password
        </ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <!-- <p class="validationHint" *ngIf="hasError('password', 'required')">{{ 'require' | translate }}</p>
          <span class="validationHint">
          <p *ngIf="hasError('password', 'minlength')">{{ 'minLenght8' | translate }}</p>
          <p *ngIf="hasError('password', 'maxlength')">{{ 'maxLenghtNumChar' | translate }}</p>

    </span> -->

      <!-- confirm password field -->
      <ion-item class="item4 animated fadeInDown">
        <ion-label floating>
          <ion-icon name="ios-lock-outline"></ion-icon>
          confirmPassword
        </ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <!-- <div *ngIf="userconPassword !=null">
              <p class="validationHint" *ngIf="!matchingPasswords(userPassword,userconPassword)">{{ 'notMatch' | translate }}</p>
          </div> -->
    </ion-list>
    <!-- <p class="noMatchUserOrPass animated fadeInDown" *ngIf="isCorrect">{{ 'userExist' | translate }}</p> -->

    <!-- form Btns -->
    <button ion-button block type="submit" class="animated fadeInDown app-btn">singUp</button>
  </form>


</ion-content>
